# Security
.env
.google_service_account_credentials.json

# Folders
.git
venv
.venv
voice_messages
voice_messages_dev

# MacOS Files
.DS_Store

# Cache Files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
